<div
  class="menubox absolute top-[8vmax] right-[-60%] w-[60%] border-t-2 border-white bg-[#800000] hidden max-sm:flex flex-col z-20"
  style="height: calc(100vh - 8vmax); transition: 0.25s linear"
>
  <% if(user){ %>
  <a
    href="/user/profile"
    class="text-[2vmax] text-white border-b-2 py-[1.5vmax] px-[2.5vmax]"
    >Home</a
  >
  <% }else{ %>
  <a
    href="/"
    class="text-[2vmax] text-white border-b-2 py-[1.5vmax] px-[2.5vmax]"
    >Home</a
  >
  <% } %>
  <a
    href="/about"
    class="text-[2vmax] text-white border-b-2 py-[1.5vmax] px-[2.5vmax]"
    >About Us</a
  >
  <a
    href="/contact"
    class="text-[2vmax] text-white border-b-2 py-[1.5vmax] px-[2.5vmax]"
    >Contact</a
  >
  <a
    href="/memberships"
    class="text-[2vmax] text-white border-b-2 py-[1.5vmax] px-[2.5vmax]"
    >Memberships</a
  >
  <a
    href="/privacy-policy"
    class="text-[2vmax] text-white border-b-2 py-[1.5vmax] px-[2.5vmax]"
    >Privacy policy</a
  >
  <% if(user){ %>
  <a
    href="/user/logout"
    class="text-[2vmax] text-white border-b-2 py-[1.5vmax] px-[2.5vmax]"
    >Logout</a
  >
  <% }else{ %>
  <a
    href="/user/login"
    class="text-[2vmax] text-white border-b-2 py-[1.5vmax] px-[2.5vmax]"
    >Member login</a
  >
  <% } %>
</div>
