<%- include('./partials/header')%>
<!--  -->
<div
  class="contentBox w-full relative bg-white pt-[8vmax] pb-[4vmax] px-[10vmax] max-sm:px-[2.5vmax] max-sm:pt-[10vmax] max-sm:pb-[4.5vmax]"
>
  <div
    class="row border-b-2 border-zinc-300 w-full py-2 flex items-center justify-between max-sm:py-3 z-20"
  >
    <h1
      class="text-[3vmax] font-semibold text-white tracking-tight max-sm:text-[4vmax]"
    >
      About us
    </h1>
    <div
      class="langbox relative py-[.6vmax] bg-white rounded-lg flex justify-between max-sm:py-[1vmax]"
    >
      <button
        class="english h-full w-[7vmax] text-white z-10 text-[1.1vmax] max-sm:w-[11vmax] max-sm:text-[1.8vmax]"
        style="transition: 0.25s linear"
      >
        English
      </button>
      <button
        class="hindi h-full w-[7vmax] z-10 text-[1.1vmax] max-sm:w-[11vmax] max-sm:text-[1.9vmax]"
        style="transition: 0.25s linear"
      >
        हिन्दी
      </button>
      <div
        class="toggle h-full w-[7vmax] bg-[#800000] absolute top-0 left-0 rounded-lg max-sm:w-[11vmax]"
        style="transition: 0.25s linear"
      ></div>
    </div>
  </div>
  <div
    class="englishContent flex flex-col gap-[1.3vmax] mt-[3.5vmax] max-sm:mt-[4vmax] max-sm:gap-[2.5vmax]"
  >
    <p
      class="text-white leading-[2.3vmax] text-[1.3vmax] max-sm:leading-[3vmax] max-sm:text-[2vmax]"
    >
      We are Manya MatriMony as a leading provider of grassroots network and
      online matchmaking services, has been providing matrimonial services since
      2014 especially to the users in urban and rural areas of Madhya Pradesh
      and all over India because we understand the importance of choosing a
      partner for marriage.
    </p>
    <p
      class="text-white leading-[2.3vmax] text-[1.3vmax] max-sm:leading-[3vmax] max-sm:text-[2vmax]"
    >
      After working for a decade in rural area of ​​Madhya Pradesh we realized
      that a lot of boys and girls are looking for right partner for themselves
      with very good marriage profile but there is no option to find them easily
      because of major matrimonial sites. The services operate on a city to city
      network and cover 80% of our villages.
    </p>
    <p
      class="text-white leading-[2.3vmax] text-[1.3vmax] max-sm:leading-[3vmax] max-sm:text-[2vmax]"
    >
      The population has no option to connect with other districts, states. We
      have decided to work at the grassroots level and especially in the rural
      area through our online website, now we have a lot of registered members
      who are looking for life partner through us.
    </p>
    <h3
      class="text-[1.8vmax] text-[#fff] font-semibold mt-[1.3vmax] max-sm:text-[3vmax] max-sm:mt-[1vmax] max-sm:mb-[-.9vmax]"
    >
      Our mission :-
    </h3>
    <p
      class="text-white leading-[2.3vmax] text-[1.3vmax] max-sm:leading-[3vmax] max-sm:text-[2vmax]"
    >
      Our mission is to provide a satisfactory experience to the people of urban
      and rural areas of Madhya Pradesh and all over India by providing a
      service that appeals to all age groups, all religions, castes, unmarried,
      divorced, widows, widowers, upper class, middle class, lower income group,
      high It should be safe and easy for educated or nominally educated
      business class, service class or farmers to find their life-partner. Our
      aim is to help make the experience of finding a life partner as enjoyable
      as traveling with them.
    </p>
    <p
      class="text-white leading-[2.3vmax] text-[1.3vmax] max-sm:leading-[3vmax] max-sm:text-[2vmax]"
    >
      We know your time is valuable, that's why we've created a system where you
      can choose who is eligible to contact you. This saves you from wasting
      time reviewing incompatible profiles. Our unique matchmaking system will
      ensure that you meet only the most suitable candidates. This system is
      only for ManyaMatrimony and is not available on other matrimonial sites.
    </p>
    <p
      class="text-white leading-[2.3vmax] text-[1.3vmax] max-sm:leading-[3vmax] max-sm:text-[2vmax]"
    >
      Since ManyaMatrimony aims to provide the best service at a relatively low
      price, is a popular service, so we receive more new profiles than other
      sites. This increases your chances of finding your life partner
    </p>
  </div>
  <div
    class="hindiContent hidden flex-col gap-[1.3vmax] mt-[4vmax] max-sm:mt-[4vmax] max-sm:gap-[2.3vmax]"
  >
    <p
      class="text-white leading-[2.5vmax] text-[1.2vmax] max-sm:leading-[3.5vmax] max-sm:text-[2vmax]"
    >
      हम विशेष रूप से मध्य प्रदेश के शहरी व ग्रामीण क्षेत्र और पूरे भारत के
      उपयोगकर्ताओं को जमीनी स्तर नेटवर्क और ऑनलाइन मैचमेकिंग सेवाओं के अग्रणी
      प्रदाता के रूप मे 2014 से वैवाहिक सेवा प्रदान कर रहे हैं क्योंकि हम विवाह
      के लिए साथी चुनने के महत्व को समझते हैं।
    </p>
    <p
      class="text-white leading-[2.5vmax] text-[1.2vmax] max-sm:leading-[3.5vmax] max-sm:text-[2vmax]"
    >
      मध्य प्रदेश के ग्रामीण क्षेत्र में एक दशक तक काम करने के बाद हमें एहसास
      हुआ कि बहुत सारे लड़के और लड़कियाँ बहुत अच्छे विवाह प्रोफ़ाइल के साथ अपने
      लिए सही साथी की तलाश में हैं, लेकिन उन्हें आसानी से ढूंढने का कोई विकल्प
      नहीं है क्योंकि प्रमुख वैवाहिक सेवाएँ शहर से शहर नेटवर्क पर काम करती हैं
      और हमारे गांवों की 80% आबादी के पास अन्य जिलों, राज्यों से जुड़ने का कोई
      विकल्प नहीं है। हमने अपनी ऑनलाइन वेबसाइट के माध्यम से जमीनी स्तर पर और
      विशेष रूप से ग्रामीण क्षेत्र में काम करने का निर्णय लिया है, अब हमारे पास
      बहुत सारे पंजीकृत सदस्य हैं जो हमारे माध्यम से जीवन साथी की तलाश कर रहे
      हैं।
    </p>
    <h3
      class="text-[1.8vmax] text-[#fff] font-semibold mt-[1.3vmax] max-sm:text-[2.8vmax] max-sm:mb-[-.8vmax]"
    >
      हमारा मिशन :-
    </h3>
    <p
      class="text-white leading-[2.5vmax] text-[1.2vmax] max-sm:leading-[3.5vmax] max-sm:text-[2vmax]"
    >
      हमारा मिशन मध्य प्रदेश के लोगों के लिए विशेष सेवा प्रदान करना है,लोगों को
      एक ऐसी सेवा प्रदान कराना जो सभी के लिए पसन्द का जीवन-साथी ढूंढने के लिए
      सुरक्षित और आसान हो।
    </p>
    <p
      class="text-white leading-[2.5vmax] text-[1.2vmax] max-sm:leading-[3.5vmax] max-sm:text-[2vmax]"
    >
      सभी आयु वर्ग सभी धर्म जाती,अविवाहित्त, तलाकशुदा, विधवा, विधुर उच्च वर्ग,
      मध्यम वर्ग, निम्न आय वर्ग उच्च शिक्षित या नाममात्र शिक्षित बिजनेस क्लास,
      सर्विस क्लास या किसानों के लिए अपना जीवन-साथी ढूंढने के लिए सुरक्षित और
      आसान प्रणाली ।
    </p>
    <p
      class="text-white leading-[2.5vmax] text-[1.2vmax] max-sm:leading-[3.5vmax] max-sm:text-[2vmax]"
    >
      हम जानते हैं कि आपका समय कीमती है, इसीलिए हमने एक प्रणाली बनाई है जहां आप
      चुन सकते हैं कि कौन आपसे संपर्क करने के योग्य है। यह आपको असंगत
      प्रोफ़ाइलों की समीक्षा करने में समय बर्बाद करने से बचाता है। हमारी अनूठी
      जोड़ी बनाने की प्रणाली यह सुनिश्चित करेगी कि आप केवल सबसे उपयुक्त
      उम्मीदवारों से ही मिलें। यह प्रणाली केवल हमारे मेंबर्स लिए है और अन्य
      वैवाहिक साइटों पर उपलब्ध नहीं है। चूँकि हम अपेक्षाकृत कम मूल्य के बदले
      सबसे अधिक सेवा प्रदान करने वाली सेवा है, इसलिए हमें अन्य साइटों की तुलना
      में अधिक नई प्रोफ़ाइलें प्राप्त होती हैं। इससे आपको अपना जीवनसाथी मिलने की
      संभावना बढ़ जाती है।
    </p>
  </div>
</div>
<script>
  const english = document.querySelector(".english");
  const hindi = document.querySelector(".hindi");
  const ec = document.querySelector(".englishContent");
  const hc = document.querySelector(".hindiContent");
  const toggle = document.querySelector(".toggle");

  english.addEventListener("click", function () {
    toggle.style.left = "0%";
    english.style.color = "#fff";
    hindi.style.color = "#000";
    ec.style.display = "flex";
    hc.style.display = "none";
  });

  hindi.addEventListener("click", function () {
    toggle.style.left = "50%";
    hindi.style.color = "#fff";
    english.style.color = "#000";
    hc.style.display = "flex";
    ec.style.display = "none";
  });
</script>
<!--  -->
<%- include('./partials/footer')%>
