<%- include('./partials/header')%>
<!--  -->
<div class="wrapper min-h-screen">
  <div
    class="addressBox w-full justify-center pt-[8vmax] pb-[4vmax] text-center text-white max-sm:pt-[11vmax] max-sm:pb-[5vmax]"
  >
    <h3 class="text-[2vmax] max-sm:text-[3vmax]">"Ask how can we help you"</h3>
    <div
      class="elemsHolder flex justify-center mt-[3vmax] max-sm:flex-col max-sm:items-center"
    >
      <div
        class="phone text-center w-[25%] flex flex-col items-center max-sm:w-full"
      >
        <div
          class="iconBox h-[4vmax] w-[4vmax] flex items-center justify-center bg-[#0000008b] rounded-full max-sm:h-[6vmax] max-sm:w-[6vmax]"
        >
          <img src="/images/icons/icons8-phone-50.png" alt="" class="h-[50%]" />
        </div>
        <h4
          class="text-[1.1vmax] text-white font-medium mt-[.5vmax] max-sm:text-[1.8vmax]"
        >
          Contact
        </h4>
        <h5
          class="text-[1vmax] mt-[.5vmax] max-sm:text-[1.5vmax] max-sm:mt-[.2vmax]"
        >
          +91 9200 606060
        </h5>
        <h5 class="text-[1vmax] max-sm:text-[1.5vmax]">+91 6269 646002</h5>
      </div>
      <div
        class="address text-center w-[25%] flex flex-col items-center max-sm:w-full max-sm:mt-[3vmax]"
      >
        <div
          class="iconBox h-[4vmax] w-[4vmax] flex items-center justify-center bg-[#0000008b] rounded-full max-sm:h-[6vmax] max-sm:w-[6vmax]"
        >
          <img
            src="/images/icons/icons8-address-64.png"
            alt=""
            class="h-[60%]"
          />
        </div>
        <h4
          class="text-[1.1vmax] text-white font-medium mt-[.5vmax] max-sm:text-[1.8vmax]"
        >
          Address
        </h4>
        <h5 class="text-[1vmax] mt-[.5vmax] max-sm:text-[1.5vmax]">
          8, Ring garden housing society
          <br />
          above Malyali Cafe, near BMHRC
          <br />
          Bhopal-462038 M.P-INDIA
        </h5>
      </div>
      <div
        class="mail text-center w-[25%] flex flex-col items-center max-sm:w-full max-sm:mt-[3vmax]"
      >
        <div
          class="iconBox h-[4vmax] w-[4vmax] flex items-center justify-center bg-[#0000008b] rounded-full max-sm:h-[6vmax] max-sm:w-[6vmax]"
        >
          <img src="/images/icons/icons8-mail-50.png" alt="" class="h-[50%]" />
        </div>
        <h4
          class="text-[1.1vmax] text-white font-medium mt-[.5vmax] max-sm:text-[1.8vmax]"
        >
          Mail
        </h4>
        <h5
          class="text-[1vmax] mt-[.5vmax] max-sm:text-[1.5vmax] max-sm:mt-[.2vmax]"
        >
          info@maitrimony.com
        </h5>
        <h5 class="text-[1vmax] max-sm:text-[1.5vmax]">www.maitrimony.com</h5>
      </div>
    </div>
  </div>

  <div class="enquiryBox h-50vh"></div>
  <div class="mapBox"></div>
</div>
<!--  -->
<%- include('./partials/footer')%>
