<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div
      class="navbox absolute top-0 left-0 h-[5vmax] w-full bg-[#01175B] flex items-center justify-between px-[5vmax] text-[#fff] z-10"
    >
      <h1 class="text-[1.5vmax]">Logo</h1>
      <div class="linkbox flex gap-[2.5vmax]">
        <a href="/admin/dashboard" class="text-[1vmax]">Home</a>
      </div>
      <a href="/admin/logout"
        ><button
          class="py-[.5vmax] px-[1.5vmax] bg-white text-[#01175B] rounded-lg"
        >
          Logout
        </button></a
      >
    </div>
    <div class="holder wrapper w-full bg-black"></div>
  </body>
</html>
