<%- include('./partials/header')%>
<!--  -->
<div
  class="holder contentbox w-full relative bg-white py-[8vmax] px-[10vmax] pb-[5vmax] max-sm:py-[10vmax] max-sm:px-[2.5vmax] max-sm:pb-[5vmax]"
>
  <h1
    class="text-[3vmax] font-semibold text-zinc-500 tracking-tight border-b-2 border-zinc-300 w-full py-2 max-sm:text-[4vmax] max-sm:py-3"
  >
    Membership <span class="text-[#800000]">packages</span>
  </h1>
  <div
    class="packagesHolder w-full flex gap-[2.5vmax] py-[5vmax] max-sm:flex-col max-sm:gap-[5vmax]"
  >
    <div
      class="package1 w-1/3 rounded-xl overflow-hidden flex flex-col items-center max-sm:w-full bg-yellow-200"
    >
      <h4
        class="text-[2vmax] font-semibold text-white tracking-tight w-full h-[5vmax] flex items-center justify-center bg-[#800000] max-sm:text-[3vmax] max-sm:h-[7vmax]"
      >
        Gold Plan
      </h4>
      <div
        class="pricebox relative w-[89%] bg-[#800000] mt-[1.5vmax] rounded-xl py-[1vmax] max-sm:mt-[2.5vmax] max-sm:pt-[2vmax] max-sm:pb-[1.5vmax]"
      >
        <h5
          class="text-[1.1vmax] font-semibold text-white tracking-tight absolute top-[1vmax] left-[1vmax] max-sm:text-[1.8vmax] max-sm:top-[1.5vmax] max-sm:left-[1.5vmax]"
        >
          40% Off
        </h5>
        <h2
          class="text-[3vmax] font-semibold text-white tracking-tight w-full text-center leading-[2.4vmax] max-sm:text-[4vmax] max-sm:leading-[3.4vmax]"
        >
          <span class="textOff relative text-[2vmax] max-sm:text-[3vmax]"
            >₹5000</span
          >
          <br />
          ₹3000
        </h2>
        <h5
          class="text-[1.1vmax] font-semibold text-white tracking-tight mt-[1.5vmax] text-center max-sm:text-[1.8vmax] max-sm:mt-[2vmax]"
        >
          Membership for 3 months
        </h5>
      </div>
      <div
        class="benefitbox w-[89%] h-[24vmax] p-[1.5vmax] bg-[#800000] mt-[1.5vmax] rounded-xl max-sm:h-[36vmax] max-sm:p-[2.5vmax] max-sm:mt-[2.5vmax]"
      >
        <h4
          class="text-[2vmax] font-semibold text-white tracking-tight w-full text-center max-sm:text-[3vmax]"
        >
          Benefits
        </h4>
        <h5
          class="text-[1.1vmax] font-semibold text-white tracking-tight mt-[1vmax] text-center max-sm:text-[1.8vmax]"
        >
          ₹1000 membership / month
        </h5>
        <h5
          class="text-[1.1vmax] font-semibold text-white tracking-tight mt-[.5vmax] text-center max-sm:text-[1.8vmax]"
        >
          Send / received customized interest
        </h5>
        <h5
          class="text-[1.1vmax] font-semibold text-white tracking-tight mt-[.5vmax] text-center max-sm:text-[1.8vmax]"
        >
          See contact phone numbers
        </h5>
        <h5
          class="text-[1.1vmax] font-semibold text-white tracking-tight mt-[.5vmax] text-center max-sm:text-[1.8vmax]"
        >
          Personal assistance making profile
        </h5>
        <h5
          class="text-[1.1vmax] font-semibold text-white tracking-tight mt-[.5vmax] text-center max-sm:text-[1.8vmax]"
        >
          Customer support finding match
        </h5>
      </div>
      <button
        class="w-full h-[5vmax] bg-blue-600 text-white border-none mt-[2vmax] text-[1.3vmax] max-sm:h-[7vmax] max-sm:text-[2.3vmax] max-sm:mt-[2.5vmax]"
      >
        Pay Now
      </button>
    </div>
    <div
      class="package2 w-1/3 rounded-xl overflow-hidden flex flex-col items-center max-sm:w-full bg-yellow-200"
    >
      <h4
        class="text-[2vmax] font-semibold text-white tracking-tight w-full h-[5vmax] flex items-center justify-center bg-[#800000] max-sm:text-[3vmax] max-sm:h-[7vmax]"
      >
        Diamond Plan
      </h4>
      <div
        class="pricebox relative w-[89%] bg-[#800000] mt-[1.5vmax] rounded-xl py-[1vmax] max-sm:mt-[2.5vmax] max-sm:pt-[2vmax] max-sm:pb-[1.5vmax]"
      >
        <h5
          class="text-[1.1vmax] font-semibold text-white tracking-tight absolute top-[1vmax] left-[1vmax] max-sm:text-[1.8vmax] max-sm:top-[1.5vmax] max-sm:left-[1.5vmax]"
        >
          40% Off
        </h5>
        <h2
          class="text-[3vmax] font-semibold text-white tracking-tight w-full text-center leading-[2.4vmax] max-sm:text-[4vmax] max-sm:leading-[3.4vmax]"
        >
          <span class="textOff relative text-[2vmax] max-sm:text-[3vmax]"
            >₹10000</span
          >
          <br />
          ₹6000
        </h2>
        <h5
          class="text-[1.1vmax] font-semibold text-white tracking-tight mt-[1.5vmax] text-center max-sm:text-[1.8vmax] max-sm:mt-[2vmax]"
        >
          Membership for 6 months
        </h5>
      </div>
      <div
        class="benefitbox w-[89%] h-[24vmax] p-[1.5vmax] bg-[#800000] mt-[1.5vmax] rounded-xl max-sm:h-[36vmax] max-sm:p-[2.5vmax] max-sm:mt-[2.5vmax]"
      >
        <h4
          class="text-[2vmax] font-semibold text-white tracking-tight w-full text-center max-sm:text-[3vmax]"
        >
          Benefits
        </h4>
        <h5
          class="text-[1.1vmax] font-semibold text-white tracking-tight mt-[1vmax] text-center max-sm:text-[1.8vmax]"
        >
          ₹1000 membership / month
        </h5>
        <h5
          class="text-[1.1vmax] font-semibold text-white tracking-tight mt-[.5vmax] text-center max-sm:text-[1.8vmax]"
        >
          Send / received customized interest
        </h5>
        <h5
          class="text-[1.1vmax] font-semibold text-white tracking-tight mt-[.5vmax] text-center max-sm:text-[1.8vmax]"
        >
          See contact phone numbers
        </h5>
        <h5
          class="text-[1.1vmax] font-semibold text-white tracking-tight mt-[.5vmax] text-center max-sm:text-[1.8vmax]"
        >
          Personal assistance making profile
        </h5>
        <h5
          class="text-[1.1vmax] font-semibold text-white tracking-tight mt-[.5vmax] text-center max-sm:text-[1.8vmax]"
        >
          Customer support finding match
        </h5>
        <h5
          class="text-[1.1vmax] leading-[1.4vmax] font-bold text-[#a92626] tracking-normal mt-[1.3vmax] text-center bg-white py-[1vmax] rounded-xl max-sm:text-[1.8vmax] max-sm:leading-[2.1vmax] max-sm:p-[1.7vmax] max-sm:mt-[2vmax]"
        >
          60 Profile suggestions <br />
          from our team
        </h5>
      </div>
      <button
        class="w-full h-[5vmax] bg-blue-600 text-white border-none mt-[2vmax] text-[1.3vmax] max-sm:h-[7vmax] max-sm:text-[2.3vmax] max-sm:mt-[2.5vmax]"
      >
        Pay Now
      </button>
    </div>
    <div
      class="package3 w-1/3 rounded-xl overflow-hidden flex flex-col items-center max-sm:w-full bg-yellow-200"
    >
      <h4
        class="text-[2vmax] font-semibold text-white tracking-tight w-full h-[5vmax] flex items-center justify-center bg-[#800000] max-sm:text-[3vmax] max-sm:h-[7vmax]"
      >
        Platinum Plan
      </h4>
      <div
        class="pricebox relative w-[89%] bg-[#800000] mt-[1.5vmax] rounded-xl py-[1vmax] max-sm:mt-[2.5vmax] max-sm:pt-[2vmax] max-sm:pb-[1.5vmax]"
      >
        <h5
          class="text-[1.1vmax] font-semibold text-white tracking-tight absolute top-[1vmax] left-[1vmax] max-sm:text-[1.8vmax] max-sm:top-[1.5vmax] max-sm:left-[1.5vmax]"
        >
          30% Off
        </h5>
        <h2
          class="text-[3vmax] font-semibold text-white tracking-tight w-full text-center leading-[2.4vmax] max-sm:text-[4vmax] max-sm:leading-[3.4vmax]"
        >
          <span class="textOff relative text-[2vmax] max-sm:text-[3vmax]"
            >₹15000</span
          >
          <br />
          ₹10500
        </h2>
        <h5
          class="text-[1.1vmax] font-semibold text-white tracking-tight mt-[1.5vmax] text-center max-sm:text-[1.8vmax] max-sm:mt-[2vmax]"
        >
          Membership for 12 months
        </h5>
      </div>
      <div
        class="benefitbox w-[89%] h-[24vmax] p-[1.5vmax] bg-[#800000] mt-[1.5vmax] rounded-xl max-sm:h-[36vmax] max-sm:p-[2.5vmax] max-sm:mt-[2.5vmax]"
      >
        <h4
          class="text-[2vmax] font-semibold text-white tracking-tight w-full text-center max-sm:text-[3vmax]"
        >
          Benefits
        </h4>
        <h5
          class="text-[1.1vmax] font-semibold text-white tracking-tight mt-[1vmax] text-center max-sm:text-[1.8vmax]"
        >
          ₹750 membership / month
        </h5>
        <h5
          class="text-[1.1vmax] font-semibold text-white tracking-tight mt-[.5vmax] text-center max-sm:text-[1.8vmax]"
        >
          Send / received customized interest
        </h5>
        <h5
          class="text-[1.1vmax] font-semibold text-white tracking-tight mt-[.5vmax] text-center max-sm:text-[1.8vmax]"
        >
          See contact phone numbers
        </h5>
        <h5
          class="text-[1.1vmax] font-semibold text-white tracking-tight mt-[.5vmax] text-center max-sm:text-[1.8vmax]"
        >
          Personal assistance making profile
        </h5>
        <h5
          class="text-[1.1vmax] font-semibold text-white tracking-tight mt-[.5vmax] text-center max-sm:text-[1.8vmax]"
        >
          Customer support finding match
        </h5>
        <h5
          class="text-[1.1vmax] leading-[1.4vmax] font-bold text-[#a92626] tracking-normal mt-[1.3vmax] text-center bg-white py-[1vmax] rounded-xl max-sm:text-[1.8vmax] max-sm:leading-[2.1vmax] max-sm:p-[1.7vmax] max-sm:mt-[2vmax]"
        >
          150 Profile suggestions <br />
          from our team
        </h5>
      </div>
      <button
        class="w-full h-[5vmax] bg-blue-600 text-white border-none mt-[2vmax] text-[1.3vmax] max-sm:h-[7vmax] max-sm:text-[2.3vmax] max-sm:mt-[2.5vmax]"
      >
        Pay Now
      </button>
    </div>
  </div>
  <div
    class="packagesHolder w-full flex gap-[2.5vmax] max-sm:flex-col max-sm:gap-[5vmax]"
  >
    <div
      class="package4 w-1/3 rounded-xl overflow-hidden flex flex-col items-center max-sm:w-full bg-yellow-200"
    >
      <h4
        class="text-[2vmax] font-semibold text-white tracking-tight w-full h-[5vmax] flex items-center justify-center bg-[#800000] max-sm:text-[3vmax] max-sm:h-[7vmax]"
      >
        Platinum + Plan
      </h4>
      <div
        class="pricebox relative w-[89%] bg-[#800000] mt-[1.5vmax] rounded-xl py-[1vmax] max-sm:mt-[2.5vmax] max-sm:pt-[2vmax] max-sm:pb-[1.5vmax]"
      >
        <h5
          class="text-[1.1vmax] font-semibold text-white tracking-tight absolute top-[1vmax] left-[1vmax] max-sm:text-[1.8vmax] max-sm:top-[1.5vmax] max-sm:left-[1.5vmax]"
        >
          40% Off
        </h5>
        <h2
          class="text-[3vmax] font-semibold text-white tracking-tight w-full text-center leading-[2.4vmax] max-sm:text-[4vmax] max-sm:leading-[3.4vmax]"
        >
          <span class="textOff relative text-[2vmax] max-sm:text-[3vmax]"
            >₹25000</span
          >
          <br />
          ₹15000
        </h2>
        <h5
          class="text-[1.1vmax] font-semibold text-white tracking-tight mt-[1.5vmax] text-center max-sm:text-[1.8vmax] max-sm:mt-[2vmax]"
        >
          Membership for 24 months
        </h5>
      </div>
      <div
        class="benefitbox w-[89%] h-[24vmax] p-[1.5vmax] bg-[#800000] mt-[1.5vmax] rounded-xl max-sm:h-[36vmax] max-sm:p-[2.5vmax] max-sm:mt-[2.5vmax]"
      >
        <h4
          class="text-[2vmax] font-semibold text-white tracking-tight w-full text-center max-sm:text-[3vmax]"
        >
          Benefits
        </h4>
        <h5
          class="text-[1.1vmax] font-semibold text-white tracking-tight mt-[1vmax] text-center max-sm:text-[1.8vmax]"
        >
          ₹625 membership / month
        </h5>
        <h5
          class="text-[1.1vmax] font-semibold text-white tracking-tight mt-[.5vmax] text-center max-sm:text-[1.8vmax]"
        >
          Send / received customized interest
        </h5>
        <h5
          class="text-[1.1vmax] font-semibold text-white tracking-tight mt-[.5vmax] text-center max-sm:text-[1.8vmax]"
        >
          See contact phone numbers
        </h5>
        <h5
          class="text-[1.1vmax] font-semibold text-white tracking-tight mt-[.5vmax] text-center max-sm:text-[1.8vmax]"
        >
          Personal assistance making profile
        </h5>
        <h5
          class="text-[1.1vmax] font-semibold text-white tracking-tight mt-[.5vmax] text-center max-sm:text-[1.8vmax]"
        >
          Customer support finding match
        </h5>
        <h5
          class="text-[1.1vmax] leading-[1.4vmax] font-bold text-[#a92626] tracking-normal mt-[1.3vmax] text-center bg-white py-[1vmax] rounded-xl max-sm:text-[1.8vmax] max-sm:leading-[2.1vmax] max-sm:p-[1.7vmax] max-sm:mt-[2vmax]"
        >
          250 Profile suggestions <br />
          from our team
        </h5>
      </div>
      <button
        class="w-full h-[5vmax] bg-blue-600 text-white border-none mt-[2vmax] text-[1.3vmax] max-sm:h-[7vmax] max-sm:text-[2.3vmax] max-sm:mt-[2.5vmax]"
      >
        Pay Now
      </button>
    </div>
    <div
      class="package5 w-1/3 rounded-xl overflow-hidden flex flex-col items-center max-sm:w-full bg-yellow-200"
    >
      <h4
        class="text-[2vmax] font-semibold text-white tracking-tight w-full h-[5vmax] flex items-center justify-center bg-[#800000] max-sm:text-[3vmax] max-sm:h-[7vmax]"
      >
        Exclusive Plan
      </h4>
      <div
        class="pricebox relative w-[89%] bg-[#800000] mt-[1.5vmax] rounded-xl py-[1vmax] max-sm:mt-[2.5vmax] max-sm:pt-[2vmax] max-sm:pb-[1.5vmax]"
      >
        <h5
          class="text-[1.5vmax] font-semibold text-white tracking-tight text-center max-sm:text-[2.3vmax]"
        >
          Plan start from
        </h5>
        <h2
          class="text-[3vmax] font-semibold text-white tracking-tight w-full text-center leading-[2.4vmax] mt-[.5vmax] max-sm:text-[4vmax] max-sm:mt-[1.5vmax]"
        >
          ₹50000
        </h2>
        <h5
          class="text-[1.1vmax] font-semibold text-white tracking-tight mt-[1.5vmax] text-center max-sm:text-[1.8vmax] max-sm:mt-[2.5vmax]"
        >
          Membership for 10 months
        </h5>
      </div>
      <div
        class="benefitbox w-[89%] h-[24vmax] p-[1.5vmax] bg-[#800000] mt-[1.5vmax] rounded-xl max-sm:h-[36vmax] max-sm:p-[2.5vmax] max-sm:mt-[2.5vmax]"
      >
        <h4
          class="text-[2vmax] font-semibold text-white tracking-tight w-full text-center max-sm:text-[3vmax]"
        >
          Benefits
        </h4>
        <h5
          class="text-[1.1vmax] font-semibold text-white tracking-tight mt-[1vmax] text-center max-sm:text-[1.8vmax]"
        >
          100% personal assistance
        </h5>
        <h5
          class="text-[1.1vmax] font-semibold text-white tracking-tight mt-[.5vmax] text-center max-sm:text-[1.8vmax]"
        >
          100% customer support finding match
        </h5>
        <h5
          class="text-[1.1vmax] font-semibold text-white tracking-tight mt-[.5vmax] text-center max-sm:text-[1.8vmax]"
        >
          Send / receive customized interest
        </h5>
        <h5
          class="text-[1.1vmax] font-semibold text-white tracking-tight mt-[.5vmax] text-center max-sm:text-[1.8vmax]"
        >
          See contact phone numbers
        </h5>
        <h5
          class="text-[1.1vmax] font-semibold text-white tracking-tight mt-[.5vmax] text-center max-sm:text-[1.8vmax]"
        >
          On the top profile boost
        </h5>
        <h5
          class="text-[1.1vmax] leading-[1.4vmax] font-bold text-[#a92626] tracking-normal mt-[1.3vmax] text-center bg-white py-[1vmax] rounded-xl max-sm:text-[1.8vmax] max-sm:leading-[2.1vmax] max-sm:p-[1.7vmax] max-sm:mt-[2vmax]"
        >
          Unlimited profile suggestions <br />
          from our team
        </h5>
      </div>
      <button
        class="w-full h-[5vmax] bg-blue-600 text-white border-none mt-[2vmax] text-[1.3vmax] max-sm:h-[7vmax] max-sm:text-[2.3vmax] max-sm:mt-[2.5vmax]"
      >
        Pay Now
      </button>
    </div>
    <div
      class="package6 w-1/3 rounded-xl overflow-hidden shadow-none flex flex-col ite[2vmax] max-sm:hidden"
    >
      <h4
        class="text-[2vmax] font-semibold text-white tracking-tight w-full text-center py-[1vmax] bg-white"
      >
        Exclusive Plan
      </h4>
      <div
        class="pricebox relative w-[89%] bg-white mt-[1.5vmax] rounded-xl py-[1vmax]"
      >
        <h5
          class="text-[1.5vmax] font-semibold text-white tracking-tight text-center"
        >
          Plan start from
        </h5>
        <h2
          class="text-[3vmax] font-semibold text-white tracking-tight w-full text-center leading-[2.4vmax] mt-[.5vmax]"
        >
          ₹50000
        </h2>
        <h5
          class="text-[1.1vmax] font-semibold text-white tracking-tight mt-[1.5vmax] text-center"
        >
          Membership for 10 months
        </h5>
      </div>
      <div
        class="pricebox w-[89%] h-[24vmax] p-[1.5vmax] bg-white mt-[1.5vmax] rounded-xl"
      ></div>
      <button
        class="w-1/2 py.91vmax] bg-white text-white border-none rounded-xl mt-[2vmax] text-[1.5v3ax]"
      >
        Pay Now
      </button>
    </div>
  </div>
</div>
<!--  -->
<%- include('./partials/footer')%>
