<%- include('./partials/header')%>
<!--  -->
<div
  class="holder contentbox w-full relative bg-white py-[8vmax] px-[10vmax] pb-[5vmax] max-sm:py-[10vmax] max-sm:px-[2.5vmax] max-sm:pb-[5vmax]"
>
  <h1
    class="text-[3vmax] font-semibold text-zinc-500 tracking-tight border-b-2 border-zinc-300 w-full py-2 max-sm:text-[4vmax] max-sm:py-3"
  >
    Privacy <span class="text-[#800000]">policy</span>
  </h1>
  <div class="privacy-contentbox">
    <p
      class="text-[1.3vmax] mt-[2vmax] max-sm:text-[1.8vmax] max-sm:mt-[2vmax]"
    >
      At Manya Matrimony, we prioritize your privacy. This privacy policy
      outlines how we collect, use, and protect your personal information in
      compliance with applicable privacy laws. By using our website, you agree
      to the collection and use of information in accordance with this policy.
    </p>
    <h3 class="text-[1.5vmax] font-semibold mt-[3vmax] max-sm:text-[3vmax]">
      Information We Collect
    </h3>
    <p
      class="text-[1.3vmax] mt-[1vmax] max-sm:text-[1.8vmax] max-sm:mt-[2vmax]"
    >
      We collect various types of information to provide and improve our
      services to you, including:
    </p>
    <p
      class="text-[1.3vmax] mt-[1vmax] max-sm:text-[1.8vmax] max-sm:mt-[2vmax]"
    >
      <span class="font-semibold">Personal Information:</span> When you register
      or interact with the website, we collect personal details such as your
      name, email address, phone number, gender, religion, marital status, date
      of birth, and preferences.
    </p>
    <p
      class="text-[1.3vmax] mt-[1vmax] max-sm:text-[1.8vmax] max-sm:mt-[2vmax]"
    >
      <span class="font-semibold">Profile Information:</span> You may provide
      additional personal information when creating your profile, such as your
      occupation, education, interests, and preferences for a potential match.
    </p>
    <p
      class="text-[1.3vmax] mt-[1vmax] max-sm:text-[1.8vmax] max-sm:mt-[2vmax]"
    >
      <span class="font-semibold">Usage Data:</span> We collect information
      about how you use our website, including pages visited, time spent, and
      other diagnostic data to help us improve the user experience.
    </p>
    <p
      class="text-[1.3vmax] mt-[1vmax] max-sm:text-[1.8vmax] max-sm:mt-[2vmax]"
    >
      <span class="font-semibold">Communications:</span> Information about
      messages you send or receive through the website.
    </p>
    <h3 class="text-[1.5vmax] font-semibold mt-[3vmax] max-sm:text-[3vmax]">
      Use of Information
    </h3>
    <p
      class="text-[1.3vmax] mt-[1vmax] max-sm:text-[1.8vmax] max-sm:mt-[2vmax]"
    >
      We use your personal information to:
    </p>
    <p
      class="text-[1.3vmax] mt-[1vmax] max-sm:text-[1.8vmax] max-sm:mt-[2vmax]"
    >
      • Provide matchmaking services.
    </p>
    <p
      class="text-[1.3vmax] mt-[1vmax] max-sm:text-[1.8vmax] max-sm:mt-[2vmax]"
    >
      • Improve and personalize your experience on our website.
    </p>
    <p
      class="text-[1.3vmax] mt-[1vmax] max-sm:text-[1.8vmax] max-sm:mt-[2vmax]"
    >
      • Send you notifications about matches, messages, and updates.
    </p>
    <p
      class="text-[1.3vmax] mt-[1vmax] max-sm:text-[1.8vmax] max-sm:mt-[2vmax]"
    >
      • Conduct surveys and collect feedback for service improvement.
    </p>
    <p
      class="text-[1.3vmax] mt-[1vmax] max-sm:text-[1.8vmax] max-sm:mt-[2vmax]"
    >
      • Ensure the security and proper functioning of our website.
    </p>
    <h3 class="text-[1.5vmax] font-semibold mt-[3vmax] max-sm:text-[3vmax]">
      Information Sharing
    </h3>
    <p
      class="text-[1.3vmax] mt-[1vmax] max-sm:text-[1.8vmax] max-sm:mt-[2vmax]"
    >
      We do not share your personal information with third parties, except in
      the following circumstances:
    </p>
    <p
      class="text-[1.3vmax] mt-[1vmax] max-sm:text-[1.8vmax] max-sm:mt-[2vmax]"
    >
      <span class="font-semibold">With Your Consent:</span> We may share your
      information with other users as per your privacy settings (e.g., profile
      visibility).
    </p>
    <p
      class="text-[1.3vmax] mt-[1vmax] max-sm:text-[1.8vmax] max-sm:mt-[2vmax]"
    >
      <span class="font-semibold">Legal Requirements:</span> If required by law
      or in response to valid legal requests.
    </p>
    <p
      class="text-[1.3vmax] mt-[1vmax] max-sm:text-[1.8vmax] max-sm:mt-[2vmax]"
    >
      <span class="font-semibold">Service Providers:</span> We may employ
      third-party services for hosting, maintenance, or analytics, and they may
      access your information solely for performing their services on our
      behalf.
    </p>
  </div>
</div>
<!--  -->
<%- include('./partials/footer')%>
