html,
body {
  position: relative;
  overflow-x: hidden;
}

.menubtn {
  position: relative;
  height: 2.6vmax;
  width: 2.6vmax;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5vmax;
  padding: 0.01vmax;
  padding-top: 0.04vmax;
  overflow: hidden;
  background-color: #800000;
}

.menubtn .ham {
  height: 100%;
  width: 100%;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 0.5vmax;
}

.menubtn .hamRotate.active {
  transform: rotate(45deg);
}

.menubtn .line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #fff;
  stroke-width: 6;
  stroke-linecap: round;
}

.menubtn .ham8 .top {
  stroke-dasharray: 40 160;
}

.menubtn .ham8 .middle {
  stroke-dasharray: 40 142;
  transform-origin: 50%;
  transition: transform 400ms;
}

.menubtn .ham8 .bottom {
  stroke-dasharray: 40 85;
  transform-origin: 50%;
  transition: transform 400ms, stroke-dashoffset 400ms;
}

.menubtn .ham8.active .top {
  stroke-dashoffset: -64px;
}

.menubtn .ham8.active .middle {
  /* stroke-dashoffset: -20px; */
  transform: rotate(90deg);
}

.menubtn .ham8.active .bottom {
  stroke-dashoffset: -64px;
}

.textOff {
  position: relative;
}

.textOff::after {
  content: "";
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-2deg);
  height: 2px;
  width: 7vmax;
  background-color: #fff;
}

.slideHolder::-webkit-scrollbar {
  display: none;
}

.slideHolder .imgbox {
  transition: 0.25s linear;
}

/* .wrapper .sec {
  background-image: url("../images/home-5.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
} */

.contentBox {
  background-image: url("../images/b462f4443dbed7c47c19473bb856ab6b.jpg");
  background-size: cover;
  background-position: center -20vmax;
  background-repeat: no-repeat;
}

.addressBox {
  height: 100%;
  width: 100%;
  background-image: url("https://i.pinimg.com/originals/8b/a9/fa/8ba9fa03c78449ae78db4e213103639f.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.member-button {
  position: relative;
  overflow: hidden;
  background-color: blue;
  transition: all 0.25s linear;
}

.member-button::before {
  content: "Pay Now";
  height: 0%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
  background-color: white;
  border-radius: 10px;
  transition: all 0.25s linear;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  color: blue;
  font-weight: 600;
}

.member-button:hover {
  transition: all 0.25s linear;
}

.member-button:hover::before {
  height: 100%;
  transition: all 0.25s linear;
}

@media (max-width: 30cm) {
  .menubtn {
    height: 4.2vmax;
    width: 4.2vmax;
  }

  .textOff::after {
    content: "";
    position: absolute;
    top: 51%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-2deg);
    height: 2px;
    width: 11vmax;
    background-color: #fff;
  }

  .contentBox {
    background-size: cover;
    background-position: center;
  }
}
